

.itemForm{
    /* border: 2px solid yellow; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 460px;
    width: 300px;
    background-color: darkcyan;
    border-radius: 10px;
    box-shadow: rgba(255, 255, 255, 0.4) 0px 2px 4px, rgba(255, 255, 255, 0.3) 0px 7px 13px -3px, rgba(255, 255, 255, 0.2) 0px -3px 0px inset;
    padding: 12px;
}

.inputContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80%;
}

.buttonWrapper{
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.heading{
    /* border: 2px solid purple; */
    height: 10%;
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
    border-bottom: double;
    font-size: 1.6rem;
    text-align: center;
    display: flex;
    justify-content: center;
}

.input{
    height: 2.6rem;
    width: 15rem;
    margin: 10px;
    border-color: transparent;
    border-radius: 3px;
}

.addItem{
    width: 200px;
    height: 40px;
    border-radius: 6px;
    border:transparent;
    font-weight: 600;
    font-size: 1.1rem;
}

.quantity{
    color: black;
    font-size:small;
}