:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #ccccbc;
  box-sizing: border-box;
}
body {
  /* border: 2px solid blue; */
  margin: 0;
  display: flex;
  justify-items:center;
  width: 100vw;
  min-height: 100vh;
  box-sizing: border-box;
}